@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-200;
    }
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}


/* Custom Marker styles */
@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.animate-pulse-ring {
    animation: pulse-ring 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.transition-numbers {
    transition: all 0.3s ease-out;
}